body {
    background-color: indianred;
}

.myform {
    margin-bottom: 20px;
}

.ProductCardContainer {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 350px);
    gap: 40px;
    margin: 20px auto;
    padding: 10px;
}

.productContainer {
    border: 2px solid rgba(0, 0, 0, 0.667);
    border-radius: 10px;
    width: 300px;
    padding: 15px;
    background-color: #f9f9f9;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    word-wrap: break-word;
    transition: transform 0.2s, box-shadow 0.2s;
}

.productContainer:hover {
    transform: translateY(-5px);
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
}

.cardContainer {
    margin-left: 10px;
}


.btnContainer {
    display: flex;
    margin-bottom: 10px;
}


.editbtn,
.deletebtn {
    padding: 8px 15px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    background-color: cornflowerblue;
    color: white;
    font-size: 14px;
    transition: background-color 0.3s;
    margin-left: 30px;
}

.editbtn:hover,
.deletebtn:hover {
    background-color: royalblue;
}

.popupContainer {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 10px;
}

.popupForm {
    display: flex;
    flex-direction: column;
}

.popupForm input[type="number"],
.popupForm input[type="text"] {
    margin-bottom: 10px;
}

.popupSubmitBtn {
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    background-color: cornflowerblue;
    color: white;
    font-size: 14px;
    transition: background-color 0.3s;
    margin: 0 50px;

}

.popupSubmitBtn:hover {
    background-color: royalblue;
}

.closeBtn {
    border: none;
    background-color: transparent;
    color: white;
    font-size: 20px;
    margin-left: 88%;
    margin-bottom: 10px;
}


.closeBtn:hover {
    background-color: gray;
}